# Godot 4+ specific ignores
.godot
images/selected/*.import
images/WIP/*.import
images/selected/*/*.import
images/WIP/*/*.import
images/selected/*/*/*.import
images/WIP/*/*/*.import
images/WIP/*/*/*/*.import
sounds/WIP/*.import
CALGARYcade-Controller-Overlay-FINAL.png.import
